{% extends gestHospital_base_html %}

{% block titulo %}
<title>Hospital de Barataria - Historia</title>
{% endblock %}

{% block contenido %}

<h1> Historia del Hospital de Barataria.</h1>
<p class="lead">
    El 25 de enero de 1982 abr&iacute;a sus puertas el&nbsp;<strong>Hospital de Barataria</strong>,
    s&iacute;mbolo para toda una generaci&oacute;n del profundo cambio social que estaba experimentando la
    ciudad. Aquel d&iacute;a, todos los trabajadores, que hasta ese momento prestaban
    servicio en la conocida como '<em>residencia vieja</em>', en el Ferial, arrimaron el hombro para
    que la mudanza se produjera de manera ordenada y con las m&iacute;nimas molestias para los
    pacientes.
</p>
<p class="lead">
    Este evento, que marc&oacute;
    profundamente a los cerca de&nbsp;<strong>150.000 habitantes</strong>&nbsp;que en aquella
    &eacute;poca resid&iacute;an en la ciudad, convirti&oacute; a El Toboso en un punto de referencia
    fundamental, al permitir que sus vecinos pudieran ser atendidos directamente en la misma, sin tener que
    desplazarse a otras localidades cercanas, especialmente Toledo.
</p>
<p class="lead">
    Ese profundo impacto
    social que supuso su apertura ha ido evolucionando con el paso de los a&ntilde;os, sin &oacute;bice para que,
    como en sus inicios, la inquietud constante por la innovaci&oacute;n y la mejora de la calidad asistencial hacia
    los pacientes haya llegado hasta nuestros d&iacute;as.
</p>
<p class="lead">
    El Hospital de Barataria fue pionero en toda Espa&ntilde;a, al ser el primero en el que todos los sistemas, primero
    asistenciales y despu&eacute;s de gesti&oacute;n, estuvieron informatizados, con todo lo que ello supon&iacute;a
    por aquel entonces, all&aacute; por los a&ntilde;os 80.
</p>
<p class="lead">
    Adem&aacute;s, la eminente
    vocaci&oacute;n docente del centro y su estrecha relaci&oacute;n tanto con la escuela de enfermer&iacute;a de
    Alc&aacute;zar de San Juan como con la&nbsp;<strong>Universidad de Castilla-La Mancha</strong>&nbsp;le han dado un
    valor a&ntilde;adido que se traduce en la actualidad en los cerca de 130 alumnos que est&aacute;n en proceso de
    aprendizaje en este hospital. El entusiasmo y la ilusi&oacute;n con los que los trabajadores
    realizaron el cambio de pacientes y equipamientos durante la ma&ntilde;ana de aquel 25 de enero sigue patente en
    los ya cerca de 2.000 trabajadores que realizan su labor hoy en d&iacute;a y que han evolucionado como lo ha
    hecho el centro.
</p>
{% endblock %}